trunk/spec/spec0.1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema version="0.1" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation>
      <![CDATA[
        The Footprint XML Specification is design for easy delivery of volunteer opportunities that are collected by aggregating organizations (e.g., VolunteerMatch, Idealist). These organizations are referred to as "providers" as they provide opportunity information to the Footprint project. Footprint's goal is to organize these opportunities in one place and direct web traffic back to the provider when a user locates a suitable opportunity.<p>
        Overall, there are four main stand-alone objects: the <code>FeedInfo</code>, <code>Organization</code>, and <code>VolunteerOpportunity</code>. The provider is the source of information for the FeedInfo object; this object specifies the details of the feed being transmitted to Footprint. The Organization object specifies the details of a any group involved in the process, whether it be a sponsoring organization or (e.g., Habitat for Humanity) a local volunteer hub that coordinates local opportunities from various organization. The <code>VolunteerOpportunity</code> object specifies the details of a volunteer opportunity and usually links to either at least one Organization (e.g., a sponsoring organization and/or a volunteer hub).<p>
        The spec is based on several existing xml specifications (specifically the specs developed by Network for Good, <a href="http://www.volunteermatch.org/schema/2007/2/listings.xsd">VolunteerMatch</a>, and 1-800-Volunteer). The major difference is that volunteer organizations and hubs are stand-along objects to which opportunities refer, thus saving space in the xml document. For instance, if Habitat for Humanity posts 100 opportunities on Idealist, Idealist would create a feed with one Habitat Organization object and 100 <code>VolunteerOpportunity</code> objects, rather than 100 of each. Another difference is the use of the iCal <a href="">Recurrence Rule</a> format so that repeating opportunities need use multiple <code>dateTimeRecurrance</code> sub-objects to represent one opportunity.<p>
        Quick access to objects:<p>
        <a href="#FeedInfo"> <code>FeedInfo</code> elements</a><br>
        <a href="#Organization"><code>Organization</code>elements</a><br>
        <a href="#VolunteerOpportunity"><code>VolunteerOpportunity</code> elements</a><br>
        <a href="#locationType"><code>location</code> type elements</a><br>
        <a href="#dateTimeDurationType"><code>dateTimeDuration</code> type elements</a><br><p>
        Sample data (so you can see the format in action) is available <a href="http://code.google.com/p/footprint2009dev/downloads/list">here</a>.
      ]]>
    </xs:documentation>
  </xs:annotation>


    
  <xs:element name="FootprintFeed">
    <xs:complexType>
      <xs:annotation>
        <xs:documentation>
         <![CDATA[
           The top-level object is <code>FootprintFeed</code> and requires a schemaVersion attribute. Order of objects does not matter. Thus, a feed would be wrapped in the following XML:<p><code>
&lt;?xml version="1.0" ?&gt;<br>
&lt;FootprintFeed schemaVersion="0.1"&gt;<br>
...<br>
&lt;/FootprintFeed&gt;</code>
         ]]>
        </xs:documentation>
      </xs:annotation>
    
      <xs:all>

          <xs:element name="FeedInfo" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
               <![CDATA[
                 The <code>FeedInfo</code> object contains the information about the feed being delivered from the provider.
               ]]>
              </xs:documentation>
            </xs:annotation>
            
            <xs:complexType>
              <xs:all>
                <xs:element name="providerID" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        A unique ID for the provider organization. Either a number assigned by Footprint or a <a href="http://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a>. Required.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                      
                <xs:element name="providerName" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        Name of organization providing the feed. Required.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>

                <xs:element name="feedID" minOccurs="0" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        Only needed if the provider delivers multiple, mutually exclusive feeds (can be <a href="http://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a>). Optional. Default: "0".
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                
                <xs:element name="createdDateTime" type="dateTimeOlsonDefaultPacific">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        The date+time (Olson time zone attribute optional, defaults to U.S. Pacific time zone) that this specific iteration of the feed was created. Required.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>

                <xs:element name="providerURL" minOccurs="0" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        URL to the provider organization's homepage. Optional.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>

                <xs:element name="termsOfUse" minOccurs="0" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        Terms of use. Optional. Recommended.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>

                <xs:element name="description" minOccurs="0" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        Any notes about the feed. Optional. Not recommended.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                </xs:element>
                                
              </xs:all>
            </xs:complexType>
          </xs:element>


          <xs:element name="Organizations" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
               <![CDATA[
                 The <code>Organizations</code> object wraps a set of <code>Organization</code> objects. Order of <code>Organization</code> objects has no semantic meaning.
               ]]>
              </xs:documentation>
            </xs:annotation>

            <xs:complexType>

              <xs:sequence>
                <xs:element name="Organization" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>
                     <![CDATA[
                       The <code>Organization</code> object represents any organization involved in the non-profit process (specifically volunteer hubs count as organizations). <code>Organization</code> objects are wrapped in an <code>Organizations</code>. Order of fields does not matter.
                     ]]>
                    </xs:documentation>
                  </xs:annotation>

                  <xs:complexType>
            
                    <xs:all>
                      <xs:element name="organizationID" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Unique ID within the feed. Most likely a number (from a database primary key) but can be a <a href="http://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a>. Required. Would be helpful if it were constant across feeds from one provider.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="nationalEIN" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              National Employer Identification Number. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="guidestarID" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              ID number from guidestar.org. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="name" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Name of the organization. Required.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="missionStatement" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Mission statement of organization. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="description" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Description of organization. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="location" type="locationType" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Physical location of organization. See locationType for type definition. Optional, but recommended at the city/regional/postalCode level.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="phone" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Phone number (and extension) of organization. Optional. Not expected from most providers.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="fax" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Fax number of organization. Optional. Not expected from most providers.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="email" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Email of organization. Optional. Not expected from most providers.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="organizationURL" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              URL of the organization's homepage. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="donateURL" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              URL of the organization's donation page. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="logoURL" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              URL of the organization's logo. Optional. Dimensions are TBD.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="detailURL" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              URL of the organization's page on the providers site. Optional. Highly recommended.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                    </xs:all>
                  </xs:complexType>
                </xs:element> 
              </xs:sequence>
            </xs:complexType>
          </xs:element> 

                     
          <xs:element name="VolunteerOpportunities" minOccurs="0">
            <xs:annotation>
              <xs:documentation>
                <![CDATA[
                  The <code>VolunteerOpportunities</code> object wraps a set of <code>VolunteerOpportunity</code> objects. Order of <code>VolunteerOpportunity</code> objects has no semantic meaning.
                ]]>
              </xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>          
                <xs:element name="VolunteerOpportunity" minOccurs="0" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>
                      <![CDATA[
                        The <code>VolunteerOpportunity</code> object represents one volunteer opportunity listing. It is capable of representing a repeating or on-going event.
                        Often an <code>Opportunity</code> object will link to an <code>Organization</code> object via the <sponsoringOrganizationID> or <volunteerHubOrganizationID> fields. Order of fields does not matter.
                      ]]>
                    </xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                    <xs:all>          
                      <xs:element name="volunteerOpportunityID" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Unique ID within the feed. Often a primary key from a database, but can be a <a href="http://en.wikipedia.org/wiki/Uniform_Resource_Identifier">URI</a>. Required.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="sponsoringOrganizationIDs" minOccurs="0">
                        <xs:annotation>                       
                          <xs:documentation>
                            <![CDATA[
                              Wrapper for <code>sponsoringOrganizationID</code> fields to allow multiple sponsoring organizations. Order <b>does</b> matter semantically and indicates the order that the sponsors should be shown (i.e., first sponsor is lead sponsor). Optional. Recommended.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                        
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="sponsoringOrganizationID" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    Link to an <code>Organization</code> object that relates to this opportunity as the sponsoring organization. Most opportunities will have an associated <code>sponsoringOrganizationID</code>, which funds and/or conducts the opportunity. Optional. Recommended.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                            
                      
                      <xs:element name="volunteerHubOrganizationIDs" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Wrapper for <code>volunteerHubOrganizationID</code>. Semantic order of <code>volunteerHubOrganizationID</code> fields does not matter.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>

                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="volunteerHubOrganizationID" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    Link to an <code>Organization</code> object that relates to this opportunity as the local volunteer hub. In contrast to the sponsoring organization, the volunteer hub is the organization that coordinates many local opportunities conducted by several sponsoring organizations. A minority of opportunities will have a volunteer hub associated with them. Optional.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>

                      <xs:element name="title" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Short title of the opportunity. Required.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="abstract" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Abstract of the opportunity. Generally one paragraph. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="volunteersNeeded" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              How many volunteers are needed for this opportunity. Special codes: -999 for unlimited. -8888 for unknown number of volunteers. Other than those exceptions, must be a non-negative integer. Optional. Cannot be blank.
                              May not be up-to-date as volunteers sign up.
                              Design decision: large negative numbers for special codes since overbooking might lead to accidental use of negative numbers.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="dateTimeDurations">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              A wrapper around one or more <code>dateTimeDuration</code> sub-objects. See the sub-object documentation. Given the recurrence field in <code>dateTimeDuration</code> sub-object, the vast majority of cases should only need one <code>dateTimeDuration</code> sub-object.  Order of <code>dateTimeDuration</code> objects has no semantic meaning. Required.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="dateTimeDuration" type="dateTimeDurationType" minOccurs="1" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    Represents the dates/timing of the event. Has a recurrence element for repeated opportunities. ReOrder of objects must follow order below. Required. Order of fields does not matter.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="locations">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              A wrapper around one or more <code>location</code> sub-objects. See the sub-object documentation. Order of <code>location</code> objects matters only in that the first location is the default time zone if the time zone for the opportunity start or end time is unspecified. Required.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="location" type="locationType" minOccurs="1" maxOccurs="unbounded" >
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    Represents where the opportunity is physically located or denotes a virtual (non-physical) opportunity. May use multiple <code>location</code> elements to represents multiple opportunity sites. Required. Order of fields does not matter.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="paid" type="yesNoEnum" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Does the opportunity pay volunteers. Domain is {"Yes" | "No"}. Optional. Defaults to "No".
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="audienceTags" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              A wrapper for one or more <code>audienceTag</code> fields. An <code>audienceTag</code> field is a string that describes a group of people who would be appropriate volunteers. There is no set domain for the <code>audienceTag</code> field.  Optional. Order of <code>audienceTag</code> entries has no semantic meaning. Example:<br><code>
                              &lt;audienceTags&gt;<br>
                              &nbsp;&nbsp; &lt;audienceTag&gt;Teens&lt;/audienceTag&gt;<br>
                              &nbsp;&nbsp; &lt;audienceTag&gt;College-aged&lt;/audienceTag&gt;<br>
                              &lt;/audienceTags&gt;</code>
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="audienceTag" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    String that represents a target audience. No domain. Optional.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="categoryTags" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                             A wrapper for one or more <code>categoryTag</code> fields. An <code>categoryTag</code> field is a short string that describes the opportunity. Key words also belong here, as <code>categoryTag</code> fields. There is no set domain for the <code>categoryTag</code> field.  Order of <code>categoryTag</code> entries has no semantic meaning. Example:<br><code>
                             &lt;categoryTags&gt;<br>
                             &nbsp;&nbsp; &lt;categoryTag&gt;Homeless&lt;/categoryTag&gt;<br>
                             &nbsp;&nbsp; &lt;categoryTag&gt;Hunger&lt;/categoryTag&gt;<br>
                             &nbsp;&nbsp; &lt;categoryTag&gt;Weekend opportunity&lt;/categoryTag&gt;<br>
                             &lt;/categoryTags&gt;</code>
                            ]]>
                          </xs:documentation>
                        </xs:annotation>

                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="categoryTag" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                              <xs:annotation>
                                <xs:documentation>
                                  <![CDATA[
                                    String that represents a category of the opportunity or a key word/phrase of the opportunity. No domain. Optional. Recommended.
                                  ]]>
                                </xs:documentation>
                              </xs:annotation>
                            </xs:element>                            
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="minimumAge" type="xs:integer" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              The minimum age of volunteers. Optional. Recommended.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="sexRestrictedTo" type="sexRestrictedEnum" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Is the opportunity restricted to one sex/gender. Domain: {"Female" | "Male" | "Neither"}. Default is "Neither". Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="skills" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                               String of all the skills a volunteer needs. One (potentially long) string. Optional. Recommended.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>

                      <xs:element name="contactName" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Name of contact for this opportunity. Many providers will choose to populate the <code>detailURL</code> instead of this fields. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="contactPhone" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Phone number (and extension) for the contact for this opportunity. Many providers will choose to populate the <code>detailURL</code> instead of this fields. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="contactEmail" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Email for the contact for this opportunity. Many providers will choose to populate the <code>detailURL</code> instead of this fields. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="detailURL" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Links to the page on the provider's website that displays detailed info about the opportunity. Optional. Highly recommended for feeds that do not transmit contact info.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="language" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Language of the opportunity. Default: English. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="description" type="xs:string" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Full description of the opportunity. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="lastUpdated" type="dateTimeOlsonDefaultPacific" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Date+time (Olson time zone attribute, <code>olsonTZ</code>, optional; defaults to U.S. Pacific time zone) of last update to the opportunity on the provider's site. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      
                      <xs:element name="expires" type="dateTimeOlsonDefaultPacific" minOccurs="0">
                        <xs:annotation>
                          <xs:documentation>
                            <![CDATA[
                              Date+time (Olson time zone attribute, <code>olsonTZ</code>, optional; defaults to U.S. Pacific time zone) of when the <u>listing</u> of the opportunity (not the opportunity itself) expires on the provider's site. Optional.
                            ]]>
                          </xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:all>
                  </xs:complexType>
                </xs:element> 
              </xs:sequence>
            </xs:complexType>
          </xs:element> 
          
                      
        </xs:all>
        <xs:attribute name="schemaVersion" type="xs:decimal" use="required" fixed="0.1" />
    </xs:complexType>  
  </xs:element>


  <xs:complexType name="locationType">
    <xs:all>
      <xs:element name="virtual" type="yesNoEnum" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
           Is the opportunity virtual (i.e., not physically located anywhere)? Domain: Yes, No (default). Optional.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
        
      <xs:element name="name" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Name of physical location. Example: Camelot Elementary School. Optional.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="streetAddress1" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             First line of street address. Optional. Not expected from most providers.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
            
      <xs:element name="streetAddress2" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Second line of street address. Optional. Not expected from most providers.
             Only provide if streetAddress1 is provided.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="streetAddress3" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Third line of street address. Optional. Not expected from most providers.
             Only provide if streetAddress1 and streetAddress2 are provided.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
        
      <xs:element name="city" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             City of physical location. Optional. Expected from most providers.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
        
      <xs:element name="region" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Region (e.g., State or Province) of physical location. Optional. Expected from most providers.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="postalCode" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Postal Code (e.g., zip code) of physical location. Optional. Expected from most providers.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
           
      <xs:element name="country" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Country. Optional. Defaults to "US".
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="latitude" type="xs:decimal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Latitude of location. Optional. If conflicts with streetAddress1/city/region/postalCode, the latter has precedence.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="longitude" type="xs:decimal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Longitude of location. Optional. If conflicts with streetAddress1/city/region/postalCode, the latter has precedence.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="directions" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Directions to or special instructions for the location. Optional.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:all>
  </xs:complexType>


  <xs:complexType name="dateTimeDurationType">
    <xs:all>
      <xs:element name="openEnded" type="yesNoEnum" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Whether the opportunity is not limited by dates. Domain: Yes, No (default). Optional. If Yes, parser ignores startDate and endDate fields.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="startDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             The start date of the opportunity. Optional; highly recommended if openEnded is No.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="endDate" type="xs:date" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             The end date of the opportunity. Optional; highly recommended if openEnded is No.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="iCalRecurrence" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             String from <a href="http://www.kanzaki.com/docs/ical/rrule.html">iCal format</a> specifying the frequency of the opportunity. String does not include "RRULE:" and should start with "FREQ=". Example for a biweekly meeting:<br>
FREQ=WEEKLY;INTERVAL=2
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="duration" type="xs:duration" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             The duration of open-ended opportunity; i.e., the long-term commitment. For instance, a six-month club that only meets once a week for an hour would have a duration of six months. Type is <a href="http://www.w3schools.com/Schema/schema_dtypes_date.asp">xs:duration</a> (e.g., P6M for six months). Optional; highly recommended is openEnded is Yes. Ignored if startDate and endDate are populated.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="startTime" type="timeOlson" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Start time for the opportunity (Olson time zone attribute, <code>olsonTZ</code>, optional; defaults to time zone of first <code>location</code> of opportunity; if virtual opportunity, defaults to U.S. Pacific). There is no "all day" option: exact times should be specified where applicable. Optional.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="endTime" type="timeOlson" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             End time for the opportunity (Olson time zone attribute, <code>olsonTZ</code>, optional; defaults to time zone of first <code>location</code> of opportunity; if virtual opportunity, defaults to U.S. Pacific). There is no "all day" option: exact times should be specified where applicable. Optional. Time zone required if time is present.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>

      <xs:element name="timeFlexible" type="yesNoEnum" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             Whether the opportunity is not limited by time of day. Domain: Yes, No. Optional. Default is Yes if both startTime and endTime are missing; default is No otherwise. If startTime and endTime are present and timeFlexible is Yes then the opportunity is assumed to be open between startTime and endTime but not necessarily fill up that entire time. If timeFlexible is Yes, then commitmentHoursPerWeek is recommended.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>


      <xs:element name="commitmentHoursPerWeek" type="xs:decimal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
           <![CDATA[
             For long-term or time-flexible opportunities, how many hours per week are expected? Decimal values allowed. Optional. Recommended if either openEnded or timeFlexible is Yes.
           ]]>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      
    </xs:all>
  </xs:complexType>


  <xs:simpleType name="yesNoEnum">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Specific type of string with the restricted domain of "Yes" or "No" (without quotes).
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sexRestrictedEnum">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Specific type of string with the restricted domain of "Female", "Male", or "Neither" (without quotes). For sex restriction.
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female"/>
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Neither"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:complexType name="dateTimeOlsonDefaultPacific">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Date/time type that has an attribute called olsonTZ, which is a string from the <a href="http://en.wikipedia.org/wiki/Zoneinfo">Olson timezone database</a> (default: "America/Los_Angeles").<p>
         The content is of the base type <code>xs:datetime</code>, except any additional timezone data is disallowed.
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="dateTimeNoTZ">
         <xs:attribute name="olsonTZ" type="xs:string" use="optional" default="America/Los_Angeles"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="timeOlson">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Time type that has an attribute called olsonTZ, which is a string from the <a href="http://en.wikipedia.org/wiki/Zoneinfo">Olson timezone database</a> (default: "America/Los_Angeles").<p>
         The content is of the base type <code>xs:time</code>, except any additional timezone data is disallowed.
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="timeNoTZ">
         <xs:attribute name="olsonTZ" type="xs:string" use="optional" default="" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="dateTimeNoTZ">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Date/time without time zone.
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
      <xs:pattern value=".+[0-9]"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="timeNoTZ">
    <xs:annotation>
      <xs:documentation>
       <![CDATA[
         Time without time zone.
       ]]>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time">
      <xs:pattern value=".+[0-9]"/>
    </xs:restriction>
  </xs:simpleType>


</xs:schema>

